p{
    font-family: Calibri;
    margin: auto;
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border:2px solid;
	opacity: 1;
	
}

html{
    background-color: #FF6666;
}
